* {
  background-color: #0e1630;
}


.heading {
  color: rgb(255, 0, 179);
}

.descp {
  color: aqua;
  font-family: sans-serif;
}

.about {
  height: 70vh;
}

h3 {
  color: rgba(255, 255, 0, 0.459);
}

.capstone {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

h2 {
  text-align: center;
  color: magenta;
}

.form-control {
  width: 70%;
}

.about-button {
  margin-left: 28%;
}

footer {
  text-align: center;
  color: aliceblue;
  position: relative;
}

.home-img {
  padding: 5px;
  width: 70%;
  height: 90%;
  border: none;
}

.home {
  display: flex;
  justify-content: space-evenly;
  /* border: solid 1px cyan; */
  height: 70vh;
  margin-top: 10%;
}

.home-2 {
  margin-right: 0;
  margin-left: 10%;
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-left: 1%;
  margin-right: 1%;
}
.card-text {
  color: azure;
}

